<ion-content [fullscreen]="true">
  <ion-grid style="padding: 0 !important; margin: 0 !important">
    <ion-row style="padding: 0 !important; margin: 0 !important">
      <ion-col size="12" class="green-header" style="padding: 0 !important; margin: 0 !important">
        <img src="assets/header-1.png" alt="" class="left-image">
        <img src="assets/header-2.png" alt="" class="right-image">
        <h3 class="welcome">welcome <br> Font</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="">
    <ion-grid>
      <ion-row>
        <ion-col size="4" class="box">
          <ion-router-link href="/podcast-details">
            <img src="../../assets/box.png" alt="">
            <h6>Computer Science</h6>
        </ion-router-link>
      </ion-col>
      <ion-col size="4" class="box">
        <ion-router-link href="">
          <img src="../../assets/box.png" alt="">
          <h6>Computer Science</h6>
      </ion-router-link>
    </ion-col>
    <ion-col size="4" class="box">
      <ion-router-link href="">
        <img src="../../assets/box.png" alt="">
        <h6>Computer Science</h6>
    </ion-router-link>
  </ion-col>
  <ion-col size="4" class="box">
    <ion-router-link href="">
      <img src="../../assets/box.png" alt="">
      <h6>Computer Science</h6>
  </ion-router-link>
</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- <ion-grid style="padding: 0 !important; margin: 0 !important; width: 100%;" class="footer-grid">
    <ion-row style="padding: 0 !important; margin: 0 !important;">
      <ion-col size="12" class="green-header" style="padding: 0 !important; margin: 0 !important;">
        
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>

