<ion-content [fullscreen]="true">
  <ion-grid style="padding: 0 !important; margin: 0 !important">
    <ion-row style="padding: 0 !important; margin: 0 !important">
      <ion-col size="12" class="green-header" style="padding: 0 !important; margin: 0 !important">
        <img src="assets/header-1.png" alt="" class="left-image">
        <img src="assets/header-2.png" alt="" class="right-image">
        <h3 class="welcome">welcome <br> back!</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="">
    <ion-grid>
      <ion-row>
      <ion-col size="10" size-lg offset="1">
        <h3>Register to continue</h3>
        <ion-input placeholder="Matric Number"class="input"></ion-input>
        <ion-input type="text" placeholder="Surname" class="input"></ion-input>
        <ion-input type="text" placeholder="Othername" class="input"></ion-input>
        <ion-input type="text" placeholder="Email Address" class="input"></ion-input>
        <ion-input type="password" placeholder="Password" class="input"></ion-input>
        <ion-button expand="block" class="button">Register</ion-button>
            <center>Already have an account? <ion-router-link href="/home" class="h3">Login</ion-router-link></center>
      </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid style="padding: 0 !important; margin: 0 !important; width: 100%;" class="footer-grid">
    <ion-row style="padding: 0 !important; margin: 0 !important;">
      <ion-col size="12" class="green-header" style="padding: 0 !important; margin: 0 !important;">
        <img src="assets/footer-2.png" alt="" class="bottom-left-image">
        <img src="assets/footer-1.png" alt="" class="bottom-right-image">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
